.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navbar__logo {
    font-size: 24px;
    margin-left: 20px;
}

.navbar__list {
    position: absolute;
    right: 20px;
}

.navbar__item {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    text-transform: uppercase;
}

.navbar__item--active {
    color: #35BD13;
}