body {
  background-color: rgb(18, 18, 22);
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
}

.tecs {
  display: grid;
  grid-template-columns: repeat(4,90px);
  gap: 30px;
}

.tec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tec__img {
  margin-bottom: 10px;
}
